@charset "utf-8";
/* CSS Document */



label{ margin-bottom:0px; color:rgb(160, 160, 159);}

.w-s{ width:39.8%;}
.w-s-2{ width:43%;}
.w-14{ width:14%;}
.w-s-8{ width:8%;}


.w-img{ width:10%;}
.w-img img{ width: auto;}


.w-title-request-42{ width:42%;}
/*************************************************nav bar code start********************************/



 .nav-tabs-1   { width:100%; margin:0px; padding:0px; background: #FFF;    }
 .nav-tabs-1 > li { float:left; width:50%; text-align:center;  }
 .nav-tabs-1 > li a{ float:left; width:100%; padding:10px 5px;  color:#FFF;  display:inline;}
 .nav-tabs-1 > li a:active{ background: #FFF;  }
  .nav-tabs-1 > li a:hover{ background: #FFF;  }

.nav-tabs-1 > li.active > a, .nav-tabs-1 > li.active > a:hover, .nav-tabs-1 > li.active > a:focus{ background: #FFF; color:#0C0; }

.nav-pills>li>a{  font-family: 'Open Sans', sans-serif; font-size:13px; line-height:18px; width:100%; color:rgb(160, 160, 159);  }
.nav-pills>li>a:active{ text-decoration:underline; background: #FFF;  }

.nav-pills>li>a:visited{  background: #FFF;  }
.nav-pills{ height:100%;  }

.nav-pills>li>a.selectedLink {
    color:#30BDFF !important; text-decoration:underline;
}


.selectedLink {
    color:#30BDFF !important; text-decoration:underline;
}


.nav-stacked{ text-align:right; float:right; width:100%; }
.nav-stacked>li+li{ width:100%; text-align:right; }


.border-right{  height:100%;}

.content-center{ background:#FFF; width:100%; height:100%; margin:0px;}


.left-menu{ position:fixed; width:20%; height:auto; float:left; }

.affix {
	width:15%; height:100%; margin-top:2px; float:left; border-right:0px #999  solid;
     
  }


.step-input{ color:#CCC;  padding:0% 0% 0% 4%; background: #FFF; margin:0px auto;   font-size:12px;  text-align:left; height:40px; width:100%; border:#CCCCCC solid 1px; display: inline-block; border-radius:3px;   }

.step-input-area{ color:#CCC;  padding:0%%; background: #FFF;  margin-bottom:0px;   font-size:12px;  text-align:left; height:113px; width:100%; border:#CCCCCC solid 1px; display: inline-block; border-radius:3px;   }

.step-input-area-00{ color:#CCC;  padding:0%%; background: #FFF;  margin-bottom:0px;   font-size:12px;  text-align:left; height:170px; width:100%; border:#CCCCCC solid 1px; display: inline-block; border-radius:3px;   }



.step-input-add{ color:#CCC; margin-right:1%;  padding:0% 0% 0% 4%; background: #FFF;   font-size:12px;  text-align:left; height:40px;  border:#CCCCCC solid 1px; display: inline-block; border-radius:3px;   }





.btn-step{
    width: 100%; font-size:14px; text-transform:uppercase;
	height:40px; border-radius:3px;
	 display: inline-block;
    border: 0px;
    background:#30BDFF;
    text-align: center; cursor:pointer;
    color: #FFF; box-shadow:rgba(0, 0, 0, 0.3) 0px 2px 1px; }



.btn-step-1{
    width: 100%; font-size:14px; text-transform:uppercase;
	height:40px; border-radius:3px;
	 display: inline-block;
    border: 0px;
    background:rgba(230, 230, 230, 1);  color:#30BDFF;
    text-align: center;
    box-shadow:rgba(0, 0, 0, 0.3) 0px 2px 1px; }






.btn-step-1:hover{
	background:#30BDFF; color:#FFF;
     }



/*************************************************nav bar code ends********************************/



/************************************************center content code start********************************/

.menu-center{ width:100%; height:auto; display:block; border-left:#CCC solid 2px; font-family: 'Open Sans', sans-serif; border-right:#CCC solid 2px; }
.menu-center .content-holder{ width:100%; height:auto; display:block; }
.menu-center .content-holder .title{ width:100%; background:rgba(48, 189, 255, 1); font-size:18px;  color:#FFF; text-align:left; padding:1% 0% 1% 3%;    height: auto; display:block; font-weight:normal; text-transform:uppercase; }
.menu-center .content-holder .detail{ background:#FFF; width:100%; color:#FFF; text-align:left; padding:3% 2%;    height:auto; display:block;  }


.menu-center .content-holder .detail .f-line { text-align:center; width:100%; display:block;  }
.menu-center .content-holder .detail .f-line .f-n-t{ padding:1% 5% 0%; font-weight:normal;  font-size:17px;  color:#A0A09F;   text-align:center; width:100%; display:block;  }
.menu-center .content-holder .detail .f-line .f-n-t span{ text-transform:uppercase;  color:#30BDFF; }
.menu-center .content-holder .detail .f-line .btn-h-addnew{ position:relative; top:-34px; float:right; width:12%; text-align:right; }






.menu-center .content-holder .detail .f-title{ padding:1% 5% 3%; font-weight:normal;  font-size:17px;  color:#A0A09F;   text-align:center; width:100%; display:block;  }
.menu-center .content-holder .detail .f-title span{ text-transform:uppercase;  color:#30BDFF; }

.menu-center .content-holder .detail .form-field{ padding:1% 1% 0%;  width:100%; display:block;}
.menu-center .content-holder .detail .form-field .f-inside{ padding:1% 0%; margin-right:1%;  width:38%; display: inline-block;}
.menu-center .content-holder .detail .form-field .f-inside label{font-weight:normal; font-size:12px;  color:rgb(160, 160, 159); padding:0% 0%; width:100%; text-align:left; height:auto; display:block; float:left;    }


.w-s-42{ width:42%;}





/********************************picture code start**************************************/


.menu-center .content-holder .detail .picture{ padding:1% 1% 0%; width:100%; display:block; font-family: 'Open Sans', sans-serif;}

.menu-center .content-holder .detail .picture .p-left{ padding:1% 0% 0%; float:left;  width:76%; display:inline-block;  }
.menu-center .content-holder .detail .picture .p-left .p-title{ padding:1% 0% 0%; font-weight:normal;  font-size:17px;  color:#A0A09F;    text-align:center; width:100%; display:block;   }
.menu-center .content-holder .detail .picture .p-left .p-title span{ text-transform:uppercase;  color:#30BDFF;  }

.menu-center .content-holder .detail .picture .p-left .pic-support { padding:1% 0% 0%; float:left;  width:100%; display:block;  }
.menu-center .content-holder .detail .picture .p-left .pic-support .l-1{ padding:1% 0% 0%; margin-right:2%;  float:left;  width:31%; display:inline-block;  }


.menu-center .content-holder .detail .picture .p-left .pic-support .l-1{ padding:1% 0% 0%; margin-right:2%;  float:left;  width:31%; display:inline-block;  }

.pic-o-i-hold{ width:100%; height:auto;}


select {
	appearance:none;
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
	
	display:none;
  overflow: hidden;
  overflow: -moz-hidden-unscrollable;
  background: #FFF url(../images/arrow-down.png) center right no-repeat; background-size: auto; 
  display:block;
    padding:1% 0% 0% 2%; color:#A0A09F; margin-right:1%; margin-top:1%;  font-size:12px;  text-align:left; height:40px; width:100%; border:#CCCCCC solid 1px;  border-radius:3px; 

}


.pic-o-i-hold .styled-select {

  overflow: hidden;
  overflow: -moz-hidden-unscrollable;
  background: #FFF url(../images/arrow-down.png) center right no-repeat; background-size: auto; 
  display:block;
  position: relative; 
   padding:1% 1%; color: #333 !important; margin-right:1%; margin-top:1%;  font-size:12px;  text-align:left; height:40px; width:100%; border:#CCCCCC solid 1px;  border-radius:3px; 
}




 .pic-box{ height:auto; display: inline-block; width:100%; margin-bottom:-2%;  margin-top:3%; margin-bottom:-8%;  }
 .pic-box .cross-icon{ cursor:pointer;   width:25px; height:25px; font-size:24px; color: #FFF; position:relative; top:27px; float:right; right:0px;  }
 .pic-box .image-hold{ float:right; display:block; height:auto;  overflow:hidden; width: auto; text-align:right; padding-left:0%; }
 
 .pic-box .image-hold img{ width:100%; height:auto; border-radius:5px; }
 
 .pic-box .image-hold img:hover{  cursor:pointer;}
 
 .pic-box .b-ho{ width:98%; padding-left:2%; float:left; display:block; position:relative; top:-28px; z-index:9999;}
 

 .pic-box .b-ho .zoom-icon{ width:auto; margin-left:3%;  display:inline-block; float:left; }
 .pic-box .b-ho .zoom-icon img{ width:25px; height:auto;  }
 .pic-box  .b-ho .download-icon{ width:auto;  float: right; margin-top:2%; display:inline-block;   }
 .pic-box .b-ho .download-icon img{ width:25px; height:auto;  }





.fileUpload-25 { margin:0px; width:100%; overflow:hidden; position:relative; }
.fileUpload-25 input.upload {
	width:100%;
    position: absolute;
    top: 0px;
    right: 0;
    margin: 0;
    padding: 5%;
	font-size: 20px;
    cursor: pointer;
    opacity: 0;
	height:100%;
    filter: alpha(opacity=0);
}

.btn-upload-pic{ width:100%; padding:20% 2%; height:150px; border-radius:5px; color:#30BDFF;  background:#EDEFF2; text-transform:uppercase; box-shadow:rgba(0, 0, 0, 0.3) 0px 2px 1px; font-size:35px;  }






 .send  { width:100%;
    padding: 1% 0%;
    margin-right: 1%;
    display: inline-block;
}
 .send .inside-radio {
    position: relative;
    top: 5px;
}
 .send .inside-radio label {
    width: 100%!important;
    display: inline-block;
    float: left;
	background:#FFF;
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
    margin-right: 3%;
}




.menu-center .content-holder .detail .picture .p-right{ border-left:#EDEFF2 solid 2px;   padding:1% 1% 0% 3%; float:right; color:#000;  width:23%; display:inline-block;  }


.menu-center .content-holder .detail .picture .p-right .tpr{ color:rgba(48, 189, 255, 1); text-align:center; font-size:20px; width:100%; display:block; padding-bottom:11%;  }
.menu-center .content-holder .detail .picture .p-right .tpr-1{ color:rgba(48, 189, 255, 1); text-align:center; font-size:20px; width:100%; display:block; padding-bottom:2%; padding-top:4%;  }

.menu-center .content-holder .detail .picture .p-right .list-instru{ width:100%; display:block;  }

.menu-center .content-holder .detail .picture .p-right .list-instru ul{  text-align:left; margin:0px; padding:0px;  }
.menu-center .content-holder .detail .picture .p-right .list-instru li{ width:100%; display:block; text-align:left; padding:5% 0%; font-size:13px; font-weight:bold; color:rgb(160, 160, 159);  }

.menu-center .content-holder .detail .picture .p-right .list-instru li span{ font-size:22px; font-weight:bold; margin-top:15%; color:rgba(48, 189, 255, 1);}



.menu-center .content-holder .detail .picture .p-right .exa-linked{ width:100%; display:block;  padding:6% 0%; height:auto; margin:0px; text-align:center;  }

.menu-center .content-holder .detail .picture .p-right .exa-linked a{
	width:100%;
	display:block;
    height: auto;
    padding: 8% 10%;
    border-radius: 3px;
    background: #30BDFF;
    color: #FFF;
    text-transform: uppercase;
    text-align: center;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 1px;
}  

.menu-center .content-holder .detail .picture .p-right .exa-linked a:hover{ text-decoration:none; background:#73d2ff;  color: #FFF; }




/********************************picture code ends**************************************/













.menu-center .content-holder .detail .form-add{ padding:1% 1% 0%; height:auto;    width:100%; display: inline-block;}

.menu-center .content-holder .detail .form-add .f-inside-new{ padding:1% 0%; margin-right:1%;  display:inline-block;}
.menu-center .content-holder .detail .form-add .f-inside-new label{font-weight:normal; font-size:12px;  color:rgb(160, 160, 159); width:100%; text-align:left; height:auto; display:block; float:left;    }
.menu-center .content-holder .detail .form-add .option-inside {
    padding: 1% 0%;
    margin-right: 1%;
        display: inline-block;

}
.menu-center .content-holder .detail .form-add .option-inside .inside-radio {
    position: relative;
    top: 23px;
}
.menu-center .content-holder .detail .form-add .option-inside .inside-radio label{
	    width: 62%;
    display: block;
    /* float: left; */
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    margin: 0px auto;
}
	


.menu-center .content-holder .detail .form-add .f-i-new-01{ padding:1% 0%; margin-right:1%; display: inline-block;}
.menu-center .content-holder .detail .form-add .f-i-new-01 .next-lab{ width:100%; height:auto;   }
.menu-center .content-holder .detail .form-add .f-i-new-01 .next-lab label{font-weight:normal; font-size:12px;  color:rgb(160, 160, 159); text-align:left; height:auto; display:block; float:left; width:100%;    }
.menu-center .content-holder .detail .form-add  .f-i-new-01 .n-y {
    padding: 1% 0%;
    margin-right: 1%;
        display: inline-block;

}
.menu-center .content-holder .detail .form-add  .f-i-new-01 .n-y span {
   font-weight:normal; font-size:12px;  color:rgb(160, 160, 159); text-align:left; height:auto; display:block; float:left; width:100%;  

}
.menu-center .content-holder .detail .form-add .f-i-new-01 .n-y .inside-radio {
    position: relative;
    top: 5px;
}
.menu-center .content-holder .detail .form-add  .f-i-new-01  .n-y .inside-radio label{
	    width: 45%!important;
    display: inline-block;
     float: left;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
	margin-right:3%;
    
}
	





.menu-center .content-holder .detail .form-add .below-t{ font-weight: 400; font-size:14px; color:rgb(160, 160, 159); text-align:center; padding:2% 0% 3%;   width:100%; display:block;}
.menu-center .content-holder .detail .form-add .below-t span { color:#30BDFF;   }

.menu-center .content-holder .detail .form-add .label-cur{ padding:3% 1% 0%; margin:0px auto; text-align:center; width:40%; display:block;}
.menu-center .content-holder .detail .form-add .label-cur a{    font-size: 12px; font-weight:bold;
text-transform:uppercase;
   
    display: inline-block;
    margin: 2px;
	letter-spacing:normal;
    padding: 3% 5%;
    border-color: #ddd;
    background: rgba(230, 230, 230, 1);
    color: #30BDFF; width:100%;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 1px;
    border-radius: 3px;
    cursor: pointer;	
	}


.menu-center .content-holder .detail .form-add .final-submit{  margin:0px auto; padding-top:7%; text-align:center; display:block;}
.menu-center .content-holder .detail .form-add .final-submit a{ 
width: 80%;
    color: #FFF;
    background: #30BDFF;
    text-align: center;
    padding: 2% 0%;
    border-radius: 5px;
    font-size: 18px;
    text-transform: uppercase;
    margin: 0px auto;
    height: auto;
    display: block;}













.menu-center .content-holder .detail .form-field .f-inside-1{ padding:1% 0%; margin-right:1%;  width:19.3%; display: inline-block;}
.width-26{ width:25.5%;}
.width-22{ width:23%;}
.menu-center .content-holder .detail .form-field .f-inside-2{ padding:1% 0%; margin-right:1%;  display: inline-block;}
.menu-center .content-holder .detail .form-field .f-inside-2 label{ font-weight:normal; font-size:12px;  color:rgb(160, 160, 159); padding:0% 0%; width:100%; text-align:left; height:auto; display:block; float:left;    }

.menu-center .content-holder .detail .form-field .f-inside-3{ padding:1% 0%; margin-right:1%;   width:25%; display: inline-block;}
.menu-center .content-holder .detail .form-field .f-inside-3 label{ font-size:12px; font-weight:normal;  color:rgb(160, 160, 159); padding:0% 0%; width:100%; text-align:left; height:auto; display:block; float:left;    }




.menu-center .content-holder .detail .form-field .f-inside-4{ padding:1% 0%; margin-right:1%;   width:23.2%; display: inline-block;}
.menu-center .content-holder .detail .form-field .f-inside-4 label{ font-size:12px; font-weight:normal;  color:rgb(160, 160, 159); padding:0% 0%; width:100%; text-align:left; height:auto; display:block; float:left;    }


.menu-center .content-holder .detail .form-field .f-inside-5{ padding:1% 0%; margin-right:1%;   width:13%; display: inline-block;}


.menu-center .content-holder .detail .form-field .f-inside-6 { padding:1% 0%; margin-right:1%;   width:18%; display: inline-block;}

.menu-center .content-holder .detail .form-field .f-inside-6 label{ font-size:12px; font-weight:normal;  color:rgb(160, 160, 159); padding:0% 0%; width:100%; text-align:left; height:auto; display:block; float:left;    }


.menu-center .content-holder .detail .form-field .f-inside-7 { padding:1% 0%; margin-right:1%;   width:17%; display: inline-block;}

.menu-center .content-holder .detail .form-field .f-inside-7 label{ font-size:12px; font-weight:normal;  color:rgb(160, 160, 159); padding:0% 0%; width:100%; text-align:left; height:auto; display:block; float:left;    }









.menu-center .content-holder .detail .form-field .f-inside-8{ padding:1% 0%; margin-right:0%; width:23%; display: inline-block;}
.menu-center .content-holder .detail .form-field .f-inside-8 .inside-radio{ position:relative; top:23px; }
.menu-center .content-holder .detail .form-field .f-inside-8 .inside-radio label{  width:46%; display:block;     float:left;  font-size:14px; text-transform:uppercase;}



.menu-center .content-holder .detail .form-field .f-inside-9{ padding:1% 0%; margin-right:0%; width:22%; display: inline-block;}
.menu-center .content-holder .detail .form-field .f-inside-9 .inside-radio-1{ position:relative; top:23px; }
.menu-center .content-holder .detail .form-field .f-inside-9 .inside-radio-1 label{  width:45%; display:block;     float:left;  font-size:14px; text-transform:uppercase;}
/************************************************center content code start********************************/








/************************************************manufacturer code start********************************/

.manufacture{ width:100%; height:auto;}

.manufacture .upload-holder{ width:100%; height:auto; margin-top:2%;}

.manufacture .upload-holder .m-left { display:inline-block; float:left; height:auto; margin-top:25%;}


.manufacture  .upload-holder .m-right { height:auto; display:inline-block; margin:0px auto; }


.image-cross{}
.close-image{ width:100%; height:auto; display:none;}


.manufacture  .upload-holder .m-right .cross-icon{ cursor:pointer;   width:25px; height:25px; font-size:24px; color:#FFF; position:relative; top:27px; float:right; right:0px;  }





.manufacture  .upload-holder .m-right .image-hold{ float:right; display:block; height:auto;  overflow:hidden; width: auto; text-align:right; padding-left:3%; }
.manufacture  .upload-holder .m-right .image-hold img{ width:100%; height:auto; border-radius:5px; }


.manufacture  .upload-holder .m-right .b-ho { width:98%; padding-left:2%; float:left; display:block; position:relative; top:-50px; z-index:9999;}
.manufacture  .upload-holder .m-right .b-ho .zoom-icon{ width:auto; margin-left:3%;  display:inline-block; float:left; }
.manufacture  .upload-holder .m-right .b-ho .zoom-icon img{ width:40px; height:auto;  }

.manufacture  .upload-holder .m-right  .b-ho .download-icon{ width:auto;  float: right; margin-top:2%; display:inline-block;   }
.manufacture  .upload-holder .m-right .b-ho .download-icon img{ width:40px; height:auto;  }






.manufacture .m-text-holder{ width:100%; height:auto; margin-top:1%;}


.form-text-h{ height:auto; display: inline-block; margin-right:0.2%;   padding:1% 0%; text-align:center;}

.form-text-h  label{ font-weight:normal; font-size:14px;  color:rgb(160, 160, 159); padding:0% 0%; width:100%; text-align:left; height:auto; display:block; float:left;    }

.form-text-h .list-menu{ width:48%; display:inline-block;   height:auto; margin-top:2%;}

.form-text-h  .list-menu label{ font-weight:normal; font-size:14px;  color:rgb(160, 160, 159); padding:0% 0%; width:100%; text-align:left; height:auto; display:block; float:left;    }



.form-text-h .select-menu{ height:auto; display: inline-block; margin-right:1%; width:48%;   padding:1% 0%; text-align:center;}
.form-text-h .select-menu .inside-rd{ position:relative; top:21px; }
.form-text-h .select-menu .inside-rd label{ width:46%; padding:6% 0%; display: inline-block; text-align:center;     float:left;  font-size:14px; text-transform:uppercase;}



.form-text-h .select-hd{ height:auto; display: inline-block; margin-right:1%; width:50%;   padding:1% 0%; text-align:center;}
.form-text-h .select-hd .inside-rd{ position:relative; top:21px; }
.form-text-h .select-hd .inside-rd label{ width:46%; padding:6% 0%; display: inline-block; text-align:center;     float:left;  font-size:14px; text-transform:uppercase;}



.form-text-h .select-menu-023{ height:auto; display: inline-block; margin-right:1%; width:45%;   padding:1% 0%; text-align:center;}
.form-text-h .select-menu-023 .inside-rd{ position:relative; top:21px; }
.form-text-h .select-menu-023 .inside-rd label{ width:46%; padding:6% 0%; display: inline-block; text-align:center;     float:left;  font-size:14px; text-transform:uppercase;}




.form-text-h  .fie-input{ color:#CCC;  padding:0% 0% 0% 4%; background: #FFF; margin:0px auto;   font-size:12px;  text-align:left; height:40px; width:100%; border:#CCCCCC solid 1px; display: inline-block; border-radius:3px;   }



.d-list {
  position: relative;
}

.d-list:after,
.d-list:before {
     position: absolute;
    right: 2px;
    top: -1px;
    width: 1.6em;
    height: .9em;
    font-size: 10px;
    pointer-events: none;
    /* background: #fff; */
    
}

.d-list:before {
    color: #30BDFF;
    content: "\25BC";
    margin-bottom: 5px;
    bottom: -.5em;
}




.btn-upload{
    width: 100%; font-size:14px; text-transform:uppercase;
	height:40px; border-radius:3px; padding-top:5%;
	 display: inline-block;
    border: 0px;
     background:#30BDFF;  color: #FFF;
    text-align: center; cursor:pointer; font-weight: normal;
    box-shadow:rgba(0, 0, 0, 0.3) 0px 2px 1px; }


btn-upload:hover{
	background:#30BDFF; color:#FFF;
     }




/************************************************manufacturer code end********************************/













/************************************************Recall code Start********************************/

.w-40{ width:40%;}

.re-holder{ width:100%; color:#FFF; text-align:left; padding:0% 0% 2%;    height:auto; display:block;  }
.re-holder .re-left{ height:auto; display: inline-block; float:left; margin-top:3%; padding-right:5%;  }
.re-holder .re-left .holder-button{ height:auto; display: block; width:100%; margin-top:8%; margin-bottom:5%;  }
.re-holder .re-left .holder-button .active-on a{ float:left; background:#30BDFF; color:#FFF; text-align:center;  text-transform:uppercase; box-shadow:rgba(0, 0, 0, 0.3) 0px 2px 1px; height:auto; text-decoration:none; display: inline-block; width:70%; padding:3% 2%; border-radius:5px;     }
.re-holder .re-left .holder-button .active-on a:hover{ background:rgba(230, 230, 230, 1); color:#30BDFF;    }
.re-holder .re-left .holder-button .view a{float:right; text-align:center; padding:3% 2%; border-radius:5px; color:#30BDFF;  background:#FFF; text-transform:uppercase; box-shadow:rgba(0, 0, 0, 0.3) 0px 2px 1px;  height:auto; text-decoration:none; display: inline-block; width:20%;  }
.re-holder .re-left .holder-button .view a:hover{   }
.re-holder .re-left .holder-button .upload-container{ float:left;  text-align:left;  text-transform:uppercase; height:auto; text-decoration:none; display: inline-block; width:70%; padding:0% 0%; border-radius:5px;     }



.fileUpload-1 { margin:0px; width:100%; overflow:hidden; position:relative; }
.fileUpload-1 input.upload {
	width:100%;
    position: absolute;
    top: 0px;
    right: 0;
    margin: 0;
    padding: 5%;
	font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.btn-upload-recall{ width:100%; padding:3% 2%; border-radius:5px; color:#30BDFF;  background:#FFF; text-transform:uppercase; box-shadow:rgba(0, 0, 0, 0.3) 0px 2px 1px;  }


.re-holder .re-right{ height:auto; padding-left:3%; border-left:#cccccc solid 2px; display: inline-block; float:right; margin-top:3%;  }
.re-holder .re-right .cross-icon{ cursor:pointer;   width:25px; height:25px; font-size:24px; color:#30BDFF; position:relative; top:27px; float:right; right:0px;  }
.re-holder .re-right .image-hold{ float:right; display:block; height:auto;  overflow:hidden; width: auto; text-align:right; padding-left:3%; }
.re-holder .re-right .image-hold img{ width:100%; height:auto; border-radius:5px; }
.re-holder .re-right .b-ho { width:98%; padding-left:2%; float:left; display:block; position:relative; top:-50px; z-index:9999;}
.re-holder .re-right .b-ho .zoom-icon{ width:auto; margin-left:8%;  display:inline-block; float:left; }
.re-holder .re-right .b-ho .zoom-icon img{ width:40px; height:auto;  }
.re-holder .re-right  .b-ho .download-icon{ width:auto;  float: right; margin-top:2%; display:inline-block;   }
.re-holder .re-right .b-ho .download-icon img{ width:40px; height:auto;  }


/************************************************Recall code end********************************/


.next-step{ width:100%; color:#FFF; text-align:center; background:#FFF; padding:3% 2%; margin:0px auto;    height:auto; display:block;  }

.next-step a{ width:80%; color:#FFF; background:#30BDFF;  text-align:center; padding:2% 0%; border-radius:5px; font-size:18px; text-transform:uppercase; margin:0px auto;  height:auto; display:block;  }

.next-step .below-link { width:80%; color:#A0A09F; text-align:center; padding:2% 0%; font-weight:lighter; border-radius:5px; font-size:18px; margin:0px auto;  height:auto; display:block;  }

.next-step .below-link span{ text-transform:uppercase; color:#30BDFF;  }




















.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 5%;
	font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}


/*
  Hide radio button (the round disc)
  we will use just the label to create pushbutton effect
*/
input[type=radio] {
    display:none; 
    margin:0px;
}




/*
  Change the look'n'feel of labels (which are adjacent to radiobuttons).
  Add some margin, padding to label
*/
input[type=radio] + label {
	font-size:11px; font-weight:normal;
    display:inline-block;
    margin:2px;
    padding: 5% 5%;
     border-color: #ddd;
	  background:rgba(230, 230, 230, 1);  color:#30BDFF;
    text-align: center;
     box-shadow:rgba(0, 0, 0, 0.3) 0px 2px 1px; border-radius: 3px; cursor:pointer;  
}
/*
 Change background color for label next to checked radio button
 to make it look like highlighted button
*/
input[type=radio]:checked + label { 
   background-image: none;
      background:#30BDFF; color:#FFF; cursor:pointer;
}






/*************************************************nav bar code ends********************************/




.number-wrapper {
  position: relative;
}

.number-wrapper:after,
.number-wrapper:before {
     position: absolute;
    right: -2px;
    top: 5px;
    width: 1.6em;
    height: .9em;
    font-size: 10px;
    pointer-events: none;
    /* background: #fff; */
    
}

.number-wrapper:after {
      color:#30BDFF;
    content: "\25B2";
    margin-top: -9px;
}

.number-wrapper:before {
    color: #30BDFF;
    content: "\25BC";
    margin-bottom: 5px;
    bottom: -.5em;
}







@media only screen and (min-width: 768px) and (max-width: 999px){ 

.menu-center .content-holder .detail .form-field .f-inside-8 .inside-radio{ top:22px;}
.menu-center .content-holder .detail .form-field .f-inside-9 .inside-radio-1{ top:20px;}
.menu-center .content-holder .detail .form-field .f-inside-8{ width:26%; height:55px;}

.manufacture  .upload-holder .m-right .b-ho{ top:-35px;}

}




@media only screen and (min-width: 480px) and (max-width: 767px){
.menu-center .content-holder .detail .form-field .f-inside-8{ width:28%; height:55px;}

.btn-upload{ width:75%;}
.manufacture  .upload-holder .m-right .b-ho{ top:-52px;}
.w-s{ width:100%;}
.w-s-8{ width:20%;}
.w-14{ width:48%;}
.w-23{ width:95%; margin-bottom:2%;} 
.w-img img{ width: 100%;}
.w-s-2{ width:94%;}
.width-22{ width:22%;}
.width-26{ width:20%;}

.form-text-h .select-menu .inside-rd{ top:28px;}

.menu-center .content-holder .detail .f-line .f-n-t{ text-align:left; width:80%;}
.menu-center .content-holder .detail .f-line .btn-h-addnew{ width:19%;}

.menu-center .content-holder .detail .form-add .option-inside .inside-radio label{ width:90%;}



.menu-center .content-holder .detail .picture .p-left{ width:100%;}
.menu-center .content-holder .detail .picture .p-right{ width:100%;}
.menu-center .content-holder .detail .picture .p-right .list-instru li{ padding:0%; font-size:12px;}
.menu-center .content-holder .detail .picture .p-right .exa-linked a{ width:66%; padding:2% 5%;}
.menu-center .content-holder .detail .picture .p-right .exa-linked{ padding:2% 0%;}


.btn-upload{ padding-top:2%;}
.form-text-h .select-menu-023 .inside-rd{ top:28px;}
.form-text-h .select-menu .inside-rd label{ padding:3% 0%;}
.menu-center .content-holder .detail .form-field .f-inside-8 .inside-radio{ top:17px;}
input[type=radio] + label{ padding:7% 2%; margin-bottom:3%;}
	}




@media only screen and (max-width: 479px){

.menu-center .content-holder .detail .form-field .f-inside-1{ width:auto;}
.menu-center .content-holder .detail .form-field .f-inside-5{ width:auto;}

.menu-center .content-holder .title{ padding:2% 1%;}


.menu-center .content-holder .detail .form-field .f-inside{ width:100%;}
.menu-center .content-holder .detail .form-field .f-inside-6{ width:80%;}
.menu-center .content-holder .detail .form-field .f-inside-7{ width:50%; margin-top:5%;}
.menu-center .content-holder .detail .form-field .f-inside-8{ width:49%; height: auto; margin-bottom:6%; margin-top:-5%;}
.menu-center .content-holder .detail .form-field .f-inside-9{ width:49%; height: auto; margin-bottom:6%; margin-top:-5%;}

.manufacture  .upload-holder .m-right .zoom-icon { top:-33px; left:10px;}
.manufacture  .upload-holder .m-right .zoom-icon img{ width:30px;}
.btn-upload{ width:84%; font-size:11px; padding-top:9%;}

.manufacture  .upload-holder .m-right .b-ho{ top:-36px;}
.manufacture  .upload-holder .m-right .b-ho .zoom-icon img{ width:30px;}
.manufacture  .upload-holder .m-right .b-ho .download-icon img{ width:30px;}
.w-s{ width:95%;}
.w-s-8{ width:25%;}
.w-14{ width:95%;}
.w-23{ width:95%;} 
.w-40{ width:100%;}
.w-s-42{ width:30%;}
.w-img{ width:10%; display:none;}
.w-img img{ width:10%; display:none;}
.width-22{ width:22%;}
.width-26{ width:46%;}




.w-s-2{ width:94%;}
.form-text-h .select-hd{ width:49%; margin-right:0%;}
.form-text-h .select-menu-023{ width:48%;}
.form-text-h .select-menu .inside-rd{ top:20px;}
.menu-center .content-holder .detail .form-add .option-inside .inside-radio label{ width:100%;}



.menu-center .content-holder .detail .form-add .option-inside{ width:100%;}
.menu-center .content-holder .detail .f-line .f-n-t{ text-align:left; width:80%;}
.menu-center .content-holder .detail .f-line .btn-h-addnew{ width:19%;}




.menu-center .content-holder .detail .picture .p-left{ width:100%;}
.menu-center .content-holder .detail .picture .p-right{ width:100%;}
.menu-center .content-holder .detail .picture .p-right .list-instru li{ padding:0%; font-size:12px;}
.menu-center .content-holder .detail .picture .p-right .exa-linked a{ width:66%; padding:2% 5%;}
.menu-center .content-holder .detail .picture .p-right .exa-linked{ padding:2% 0%;}

.btn-upload-pic{ height:110px; }

.btn-upload{ padding-top:3%;}


}