

.navbar-static-top {
  margin-bottom: 5px; 
}

.dispaly-name-menu{ display:none;}


.navbar-nav{ float:right; padding-top:0px;}


.navbar{ margin:0px 0 0 0; width:100%; }

.navbar-nav > li > a {
    padding-bottom: 0px;
    padding-top: 0px;
}

.container-fluid{ padding:0px;}

.navbar-nav a{ color:#FFFFFF;  font-size:12px; font-weight:normal;}
.navbar navbar-default navbar-static-top{ }
.navbar-collapse{ width:100%;  }
.navbar-default{ background: #FFF; margin-top:0px; border-right:0px #CCC solid; border-bottom:0px; height: auto;   float:left;    color:#666;}
.navbar-collapse{ color:#FFFFFF; margin:0px; padding:0px;}
.navbar-default .navbar-nav > ul { width:100%; }
.navbar-default .navbar-nav > li { margin:2px; display:block; width:100%; text-transform: capitalize;     padding-top:0px;}
.navbar-default .navbar-nav > li:first-child { border-left: #CCCCCC solid 0px;     padding-top:0px;}
.navbar-default .navbar-nav > li:last-child {    padding-top:0px;}
.navbar-default .navbar-nav > li > a{  font-size:11px;    color: #FFF; text-transform: uppercase; width:100%; padding:6px 0px; height: auto;    text-align:center; 
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  box-shadow: 0px 0px 3px #888888;
  border-radius: 3px;
   margin-top:5px;
  
  
  }
  
.navbar-default .navbar-nav > li > .active { display:block; }


.navbar-default .navbar-nav > li > a:hover { color:#FFF;     text-align:center; 

 -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;

}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{  width:10%;   text-align:center;}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus{background:#FC0;; color:#FFF;   text-align:center;}

.hide-menu-name{ display:none;}
.hide-menu-name-1{ display: block;}


.dropdown-menu > li > a{ padding:10px 10px; background: #F60; color:#FFF;  }

.dropdown-menu{ padding:0px;}





@media only screen and (min-width: 1000px) and (max-width: 1200px){ 

.fixed {
	position: fixed;
	top: -20px;
	left: 0;
	width: 100%;
	z-index:99999;
	
	
}
.navbar-default .navbar-nav > li > a{background: no-repeat bottom right; padding:55px 22px 10px; height:100%; }

.navbar-collapse{ width:100%;   }

.navbar-default{ margin-top:0px; line-height:40px;}



.navbar{ margin:00px 0px 00px 0px; width:100%; }
}





@media only screen and (min-width: 768px) and (max-width: 999px){

.fixed {
	position: fixed;
	top: -20px;
	left: 0;
	width: 100%;
	z-index:99999;
	
	
}



.navbar-default .navbar-nav > li > a{ background:bottom right;  padding:40px 15px 5px;   
  
  }

.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus{ color:#FFF!important;}

.navbar-default .navbar-nav > li > a{}
.navbar{ margin:00px 0px 0px 0px; width:100%; }





}





@media only screen and (min-width: 480px) and (max-width: 767px){

.dispaly-name-menu{ display: inline-block;}

.navbar-default .navbar-toggle .icon-bar{ background-color:#30bdff;}
.container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse{ margin-left:0px;}
.navbar-default{ height:auto; border-right:0px;}
.navbar-default .navbar-nav > li > a{ padding:5px 15px 5px 15px;}
.navbar-default .navbar-nav > li{ border-bottom:rgba(0, 0, 0, 0.1)solid 1px; border-left: 0px;}
.navbar-default .navbar-nav .open .dropdown-menu > li > a{ color:#FFFFFF; text-align:center; line-height:15px;}
.navbar{ margin:0px 0px 0px 0px; width:100%; }
.navbar-nav{margin:0px 0px 0px 0px; width:100%; }
.navbar-collapse.in{ overflow:visible; }

.navbar-default .navbar-nav > li:last-child { border-left: #CCCCCC solid 0px; border-right:0px;    padding-top:0px;}
.navbar-toggle{ margin-top:5px; margin-bottom:5px; padding:7px; }




.navbar-brand {
    float: left;
    padding: 12px;
    font-size: 14px;
    line-height: 21px;
    height: 34px;
}

}





@media only screen and (max-width: 479px){


.dispaly-name-menu{ display: inline-block;}
.navbar-default .navbar-toggle .icon-bar{ background-color:#30bdff;}
.container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse{ margin-left:0px;}
.navbar-default{ height:auto; border-right:0px;}
.navbar-default .navbar-nav > li > a{ padding:5px 15px 5px 15px;}
.navbar-default .navbar-nav > li{ border-bottom:rgba(0, 0, 0, 0.1) solid 1px; border-left: 0px;}
.navbar-default .navbar-nav .open .dropdown-menu > li > a{ color: #000; text-align:center; line-height:15px;}
.navbar{ margin:0px 0px 0px 0px; width:100%; height: auto; }
.navbar-nav{margin:0px 0px 0px 0px; width:100%; }
.navbar-collapse.in{ overflow:visible; }

.navbar-default .navbar-nav > li:last-child { border-left: #CCCCCC solid 0px; border-right:0px;    padding-top:0px;}
.navbar-toggle{ margin-top:5px; margin-bottom:5px; padding:7px; }

.navbar-brand {
    float: left;
    padding: 12px;
    font-size: 14px;
    line-height: 21px;
    height: 34px;
}

.container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > 

}