body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  margin: 0;
  padding: 0;
  background: #edeff2;
  font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
}

h2 {
  font-size: 26px;
  font-weight: 400;
  text-transform: uppercase;
  color: #30bdff;
  text-align: center;
  margin: 0;
}

a:active, a:focus, a:hover {
  text-decoration: none;
}

/** input styles start **/

input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 5%;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}

input[type=option], 
input[type=radio] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

input[type=radio] + label {
  font-size: 15px; 
  width: 45%;
  display: inline-block;
  padding: 15px;
  border-color: #ddd;
  background: #e6e6e6;  
  color: #30bdff;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 1px; 
  border-radius: 3px; 
  margin-bottom: 0;
  cursor: pointer; 
}

input[type=radio]:checked + label { 
  background-image: none;
  background: #30bdff; 
  color: #fff;
  cursor: pointer;
}

/* input[type=radio]:not(:last-child) + label {
  margin-right: 4px;
} */

label {
  font-size: 15px;
  color: #878787;
  font-weight: 400;
}

select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  text-decoration: none;
}

select[class*=form-control] {
  background: #fff url(../images/arrow-down.png) right 4px center no-repeat;
  height: 42px;
  padding: 0 12px;
}

textarea {
  resize: none;
}

input[type=date]::-webkit-inner-spin-button,
input[type=date]::-webkit-calendar-picker-indicator {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  text-decoration: none;
  color: #30bdff;
}

.form-control {
  color: #444444;
  padding: 10px 10px;
  font-size: 22px;
  border-radius: 4px;
  font-weight: lighter;
  min-height: 50px;
}

/** input styles end **/

.container form .row {
  margin: 10px 0;
}

.row {
  margin: 0 16px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}

.row>[class*='col-'] {
  display: flex;
  flex-direction: column;
}

.section {
  margin: 36px 0 30px;
}

.section-head {
  margin-bottom: 30px;
}

.sub-heading {
  font-size: 22px;
  font-weight: 400;
  color: #999;
  padding: 6px 0;
  text-align: center;
}

.sub-heading .highlight {
  color: #30bdff;
  text-transform: uppercase;
}

.sub-heading .note {
  font-size: 16px;
  font-weight: 400;
}

.tagline {
  font-size: 15px;
  font-weight: 400;
  color: #a0a09f;
  text-align: center;
  margin-top: 4px;
}

.align-items-center {
  align-items: center;
  justify-content: center;
}

.align-items-end {
  align-items: flex-end;
  justify-content: flex-end;
}

.align-items-start {
  align-items: flex-start;
  justify-content: flex-start;
}

.align-start {
  align-items: flex-start;
}

.align-center {
  align-items: center;
}

.align-end {
  align-items: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-space {
  justify-content: space-between;
}

/** button styles start **/

.btn-primary {
  font-size: 15px;
  padding:  15px;
  text-transform: uppercase;
  border: 0;
  border-radius: 4px;
  background: #30bdff;
  box-shadow: rgba(0, 0, 0, 0.3) 0 1px 1px;
  -webkit-transition: border-color 0.4s ease 0s, background-color 0.4s ease 0s;
  -moz-transition: border-color 0.4s ease 0s, background-color 0.4s ease 0s;
  -o-transition: border-color 0.4s ease 0s, background-color 0.4s ease 0s;
  transition: border-color 0.4s ease 0s, background-color 0.4s ease 0s;
}

.btn-primary:active,
.btn-primary:active:focus,
.btn-primary:active:hover,
.btn-primary:focus,
.btn-primary:hover,
.btn-primary[disabled]:active:focus,
.btn-primary[disabled]:active:hover,
.btn-primary[disabled]:focus,
.btn-primary[disabled]:hover {
  background: #73d2ff;
  box-shadow: rgba(0, 0, 0, 0.3) 0 1px 1px;
  outline: none;
}

/* .btn-login-top {
  margin-bottom: 6px;
  background: #fff;
  color: #30bdff;
} */

.footer .btn-primary, .btn-login-top {
  width: 100px;
  box-shadow: none;
  min-height: 50px;
}

.btn-login-top {
  color:  #30bdff;
}

.footer .btn-login, .btn-login-top {
  background: transparent;
  border: solid rgba(48, 189, 255, 1) 1px;
  margin-right: 20px;
}

.footer .btn-login:active,
.footer .btn-login:active:focus,
.footer .btn-login:active:hover,
.footer .btn-login:hover, 
.btn-login-top:active,
.btn-login-top:active:focus,
.btn-login-top:active:hover,
.btn-login-top:hover {
  color: #fff;
  background: #30bdff;
  outline: none;
  border: solid rgba(48, 189, 255, 1) 1px;
  box-shadow: none;
}

.fixed-top .btn-login-top {
  margin-right:  6px;
}

.fixed-top .logout {
  margin-right:  0;
}

.fixed-top .btn-signup {
  width:  100px;
}

.btn-subscribe {
  background: #ccc;
  color: #fff;
  box-shadow: rgba(0, 0, 0, 0.3) 0 1px 1px;
}

.btn-subscribe:active,
.btn-subscribe:active:focus,
.btn-subscribe:active:hover,
.btn-subscribe:focus,
.btn-subscribe:hover {
  background: #a0a09f;
  color: #fff;
}

.btn-ask, 
.btn-dashbrd {
  min-width: 245px;
  background: #fff;
  color: #30bdff;
  margin: 6px 0;
}

.btn-white {
  background: #fff;
  color: #30bdff;
}


.btn-sm {
  font-size: 14px;
  padding: 6px;
  width: 50%;
}

.btn-xl {
  font-size: 32px;
  padding: 30px 45px;
}

.dashboard .input-group-btn:last-child>.btn {
  height: 50px;
  background-color: #30bdff;
  color: #fff;
  font-size: 18px;
}

.dashboard .flex-container .btn-primary {
  width: 100%;
  border-radius: 0 0 4px 4px;
  box-shadow: none;
  min-height: 50px;
  position: relative;
  bottom: 5px;

}

.dashboard .btn-primary:active,
.dashboard .btn-primary:active:focus,
.dashboard .btn-primary:active:hover,
.dashboard .btn-primary:focus,
.dashboard .btn-primary:hover {
  color: #fff;
  background: #73d2ff;
  outline: none;
  border: none;
  box-shadow: none;
}

.input-group-btn .btn-primary {
  box-shadow: none;
  border: 1px solid #ccc;
  height: 50px;
}

/** button styles end **/

/** white close x start **/

.cls {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 30px;
  overflow: hidden;
}

.cls.rounded::before,
.cls.rounded::after {
  border-radius: 5px;
}

.cls.white::before,
.cls.white::after {
  height: 6px;
}

.cls::after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.cls::before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.cls::before,
.cls::after {
  content: '';
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0;
  margin-top: -1px;
  background: #fff;
}

/** white close x end **/


/** header start **/

.fixed-top {
  background: #fcfcfc;
  border-bottom: #c7c7c7 solid 5px;
  padding: 12px 0;
}

/** header end **/


/** login form start **/

#login,
#signup {
  display: none;
}

#login h2,
#signup h2 {
  color: #fff;
  text-align: left;
  font-size: 24px;
  font-weight: 500;
  margin-left: 6px;
}

#login .container,
#signup .container {
  width: 65%;
  padding: 0;
}

.l-slide .title-l {
  background: #30bdff;
  padding: 20px 0;
  font-size: 22px;
  color: #fff;
  text-transform: uppercase;
}

.l-slide .title-l .cross-arrow {
  cursor: pointer;
  position: relative;
  top: -32px;
  float: right;
  right: 28px;
}

.l-slide .heading {
  width: 100%;
  margin-top: 30px;
  text-align: center;
  color: #a0a09f;
  font-size: 22px;
  font-weight: 400;
}

.l-slide .heading span {
  text-transform: uppercase;
  color: #30bdff;
  padding-top: 1%;
  font-size: 24px;
}

.f-contain {
  padding: 40px 0;
}

.f-contain a {
  font-size: 15px;
  color: #30bdff;
  display: inline-block;
  margin-top: -6px;
  margin-right: 2px;
}

.f-contain .row>[class*='col-md'] {
  padding-right: 0;
}

/** login form end **/


/** services start */

.services .row:nth-child(2) .col-md-3 {
  padding:  0 40px;
  align-items: center;
}

.services .service-text span {
  display: block;
  font-size: 18px;
  text-align: center;
  width: 100%;
  margin-bottom: 9%;
  padding-top: 0;
  color: #30bdff;
  margin-top: 0;
}

.services .service-text p {
  font-size: 12px;
  line-height: 18px;
  margin-bottom: 20px;
  color: #605e5e;
  text-align: justify;
}

.services .service-img {
  max-width: 220px;
  max-height: 220px;
}

/** services end **/


/** msu solutions start **/

.msu {
  background: #a0a09f;
  padding: 36px 0;
}

.msu-tagline {
  font-weight: 400;
  text-align: center;
  font-size: 26px;
  color: #ccc;
  text-shadow: rgba(0, 0, 0, 0.4) 0 3px 3px;
}

/** msu solutions end **/


/** testimonials start **/

.testimonial .testimonial-text {
  margin-bottom: 20px;
}

.testimonial .row:last-child .testimonial-text {
  margin-bottom: 0;
}

.testimonial .testimonial-text p {
  font-size: 12px;
  line-height: 18px;
  color: #605e5e;
  text-align: justify;
}

.testimonial .testimonial-text b {
  display: block;
  font-size: 14px;
  font-weight: normal;
  color: #605e5e;
  text-align: right;
}

/** testimonials end **/


/** newsletter start **/

.newsletter {
  background: #30bdff;
  padding: 30px 0;
  margin-bottom: 0;
}

.newsletter h2 {
  color: #ccc;
}

.newsletter .tagline {
  color: #fff;
}

.newsletter .row:last-child {
  margin-bottom: 10px;
}

.newsletter .row:last-child .col-md-4 {
  padding-right: 0;
}


/** newsletter end **/


/** footer start **/

.footer {
  background: #605e5e;
  padding: 60px 0;
}

.footer .row>[class*='col-md-6']:nth-child(1) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer .row>[class*='col-md-9'] {
  padding-left:  32px;
}

.footer .fa {
  font-size: 20px;
  color: #30bdff;
  margin-top: 8px;
}

.footer .contact-info {
  margin-bottom: 20px;
}

.footer .contact-info div {
  display: inline-block;
}

.footer .icon-circle {
  border: solid 2px #30bdff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  margin: 0 10px;
  float: left;
}

.footer .border-right {
  border-right: 2px solid rgba(204, 204, 204, 1);
  padding: 0 32px;
}

.footer .top {
  margin-top: 20px;
}

.footer .contact-text {
  display: inline-block;
  line-height: 20px;
  margin: 2px 16px 0 0;
  font-size: 14px;
  }

.footer .contact-text span {
  color: #ccc;
  display: block;
}

.footer .contact-text .address {
  color: #30bdff;
}

.footer .contact-text a {
  color: #30bdff;
  display: inline-block;
}

.footer #contact-form {
  width: 100%;
  display: flex;
}

.footer #contact-form div {
  width: 45%;
}

.footer #contact-form div:nth-of-type(2) {
  margin-left: 6px;
}

.footer #contact-form .form-control {
  background: #eee;
  color: #30bdff;
  font-size: 12px;
  font-weight: normal;
  border: #ccc solid 1px;
  padding: 8px 8px;
  border-radius: 6px;
  margin-bottom: 6px;
  min-height: auto;
}

.footer #contact-form .form-control::placeholder {
  color: #30bdff;
}

.footer #contact-form #contact-message {
  padding: 6px 8px;
}

.footer #contact-form button {
  float: right;
}

#return-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background:  #ccc;
  width: 50px;
  height: 50px;
  display: block;
  text-decoration: none;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
  display: none;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#return-to-top i {
  color: #fff;
  margin: 0;
  position: relative;
  left: 16px;
  top: 13px;
  font-size: 19px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/** footer end **/

/** dealer main and dashboard start **/

.dealer, .dashboard {
  background: #fff;
  padding: 10px 0 36px 0;
}

.dealer h2, .dashboard h2 {
  font-size: 24px;
  margin-top: 6px;
}

.dashboard h2 {
  text-align: left;
}

.dealer .circle {
  color: #30bdff;
  width: 375px;
  height: 375px;
  border-radius: 50%;
  border: 2px solid #30bdff;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 36px;
}

.dealer .circle:hover {
  background: #30bdff;
  color: #fff;
}

.dashboard .sub-heading {
  margin:  20px 0;
}

.dealer .sub-heading {
  font-size: 26px;
  margin-top:  40px;
}

.dealer hr {
  transform: rotate(90deg);
  width: 160px;
  border-top: 1px solid #c7c7c7;
}

.dealer hr.top {
  transform: rotate(90deg) translateX(-60px);
}

.dealer hr.bottom {
  transform: rotate(90deg) translateX(60px);
}

.dealer hr + .highlight {
  font-size: 22px;
  font-weight: 400;
  color: #a0a09f;
  text-transform: uppercase;
  padding: 6px 0;
  text-align: center;
}

.search::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  white-space:pre-line;  
  position:relative;
  top:-7px;
  
}
.search::-moz-placeholder { /* Firefox 19+ */
  white-space:pre-line;  
  position:relative;
  top:-7px;
}
.search:-ms-input-placeholder { /* IE 10+ */
  white-space:pre-line;  
  position:relative;
  top:-7px;
}
.search:-moz-placeholder { /* Firefox 18- */
  white-space:pre-line;  
  position:relative;
  top:-7px;
}

.dashboard .input-group {
  position: absolute;
  bottom: 6px;
  width: 245px;
}

.dashboard .flex-container {
  padding: 0;
  margin: 0;
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  justify-content: space-between;
}

.dashboard .flex-container div {
  width: 20%;
  height: 120px;
  margin: 6px;
  border: 1px solid #30bdff;
  border-radius: 4px;
  color: #c7c7c7;
  font-size: 36px;
  line-height: 63px;
  text-align: center;
}

#dataTable th {
  font-size:  14px;
  color:  #30bdff;
  font-weight: 400;
  white-space: nowrap;
  border-bottom:  none;
}

#dataTable td {
  color:  #a0a09f;
  font-size:  14px;
}

.dataTables_wrapper {
  margin-top: 30px;
}

div.dataTables_wrapper div.dataTables_filter {
  display: none;
}

table.dataTable thead .sorting:after, 
table.dataTable thead .sorting_asc:after, 
table.dataTable thead .sorting_desc:after, 
table.dataTable thead .sorting_asc_disabled:after, 
table.dataTable thead .sorting_desc_disabled:after {
  color:  #a0a09f;
  opacity: 1;
}

#viewAllBtn {
  position: absolute;
  bottom: 6px;
}
/** dealer main and dashboard end **/

/** export steps start **/

.export {
  background: #fff;
}

.export .border-right {
  border-right: 2px solid #c7c7c7;
}

.export hr {
  transform: rotate(90deg);
  width: 50px;
  background-color: #a0a09f;
}

.export hr.top {
  transform: rotate(90deg) translateX(-4px);
}

.export hr.bottom {
  transform: rotate(90deg) translateX(4px);
}

.export hr + .highlight {
  font-size: 18px;
  font-weight: 400;
  color: #a0a09f;
  text-transform: uppercase;
  padding: 6px 0;
  text-align: center;
}

.export .inside-button {
  margin-bottom: 30px;
}

.export .inside-button .btn {
    padding: 12px;
}

.export .inside-button .btn:nth-child(1) {
  width: 65%;
}

.export .inside-button .btn-white {
  width: 25%;
}

.export .inside-button .btn-primary:nth-child(1) {
  margin-right: 6px;
}

.export input[type=radio][name=pictures] + label,
.export input[type=radio][name=title] + label {
  width: 100%;
}

.export > .row > .col-md-8 {
  padding: 0;
  border-left: 2px solid #c7c7c7;
  border-right: 2px solid #c7c7c7;
}

.export > .row > .col-md-2:nth-child(3) {
  padding-right: 0;
}

.export h2, .modal-header h4 {
  background: #30bdff;
  padding: 20px 24px;
  font-size: 22px;
  font-weight: 500;
  color: #fff;  
  text-align: left;
}

.modal .close {
  opacity: 1;
}

.modal .close .cls {
  top: 20px;
  right: 20px;
}

.modal .close .cls:focus {
  outline: none;
}

.modal-footer {
  border-top: 0;
  margin: 0 30px;
}

.modal-footer .btn-primary {
  min-width: 100px;
}

.sub-heading .btn-primary {
  position: absolute;
  right: 22px;
}

.export section {
  margin-bottom: 60px;
}

.export section .row {
  margin-left: 16px;
  margin-right: 16px;
}

.export section .row>[class*='col-'] {
  padding-left: 6px;
  padding-right: 6px;
}

.export .btn-primary.upload {
  margin-left: 6px;
}

.export section .row:not(:first-child), .modal .row:not(:first-child) {
  margin-top: 20px;
}

.export .sub-heading {
  margin: 24px 0;
}

.modal-header {
  padding: 0;
}

.export > .row > .col-md-2:first-child {
  padding-left: 0;
}

.sidebar {
  top: 0;
  position: -webkit-sticky;
  position: sticky;
}

.sidebar {
  padding: 0;
}

.sidebar > li {
  list-style-type: none;
}

.sidebar>li>a {
  display: inline-block;
  color: #a0a09f;
  border-radius: 0;
  padding: 6px 0 0 0;
  margin-bottom: 9px;
  font-size: 16px;
  border-bottom: 3px solid transparent;
}

.sidebar>li>a:hover {
  border-bottom: 3px solid #a0a09f;
}

.sidebar>li {
  text-align: right;
}

.sidebar>li>a.active {
  color: #30bdff;
  border-bottom: 3px solid #30bdff;
}

#labelImage, #pdfImage {
  position: relative;
}

#labelImage .fa, #pdfImage .fa {
  position: absolute;
  color: #fff;
  font-size: 30px;
  opacity: 0.5;
}

#labelImage .fa:hover, #pdfImage .fa:hover {
  opacity: 1;
}

#labelImage {
  width: 600px;
  height: auto;
}

#labelImage img {
  max-height: 100%;
  max-width: 100%;
}

#labelImage .fa-times {
  display: none;
  top: 6px;
  right: 18px;
}

#labelImage .fa-search-plus {
  bottom: 10px;
  left: 16px;
}

#labelImage .fa-download {
  bottom: 10px;
  right: 18px;
}

#pdfImage .fa-times {
  color: #30bdff;
  top: 8px;
  right: 8px;
}

#pdfImage .fa-search-plus {
  bottom: 6px;
  right: 10px;  
}

#pdfImage .fa-download {
  bottom: 6px;
  left: 10px;
}

#label-details input[type=radio] + label { 
  width:  80px;
}

#courier input[type=radio] + label {
  width:  180px;
}

#warningModal .modal-content {
  font-size:  18px;
}

/** export steps end **/

/** picture uploader start **/

#pictures .cls.rounded.white {
  display: none;
  position: absolute;
  right: 10px;
  top: 15px;
  cursor: pointer;
}

.pictureUpload, #pictureUploadInst {
  display: none;
}

#pictureUploadInst {
  margin-top: 12px;
}

#pictureUploadInst .highlight {
  display: inline-block;
  width: 100%;
  text-align: center;
  color: #30bdff;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 10px;
}

#pictureUploadInst ol, #instructionsModal ol {
  font-size: 14px;
  color: #999;
  font-weight: 400;
}

#pictureUploadInst ol li:not(:last-child) {
  margin-bottom: 8px;
}

#pictureUploadInst > ol > li > span {
  color: #30bdff;
  font-weight: 400;
}

.pictureUploadCont {
  background-color: #e6e6e6;
  border-radius: 6px;
  height: 150px;
  width: 200px;
  transition: border-color 0.4s ease 0s, background-color 0.4s ease 0s;
  box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.4);
  display: flex;
  align-items: center;
  justify-content: center;
}

.pictureUploadCont input[type=file] {
    position: absolute;
    top: 0;
    left: 10px;
    margin: 0;
    padding: 5%;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
    width: 200px;
    height: 150px;
}

.pictureUploadCont .fa-plus {
  color: #30bdff;
  font-size: 30px;
}

.pictureUploadCont:hover {
  background-color: #30bdff;
}

.pictureUploadCont:hover .fa-plus {
  color: #fff;
}

.pictureUpload .form-control {
  width: 200px;
  margin-top: 12px;
}

.imgPreview {
  display: none;
  max-width: 100%;
  max-height: 100%;
}

.iconOverlay {
  display: none;
  height: 150px;
  width: 200px;
  position: absolute;
}

.iconOverlay .fa {
  display: none;
  position: absolute;
  color: #fff;
  font-size: 30px;
  opacity: 0.5;
}

.iconOverlay .fa:hover {
  opacity: 1;
}

.iconOverlay .fa-rotate-left {
  top: 8px;
  left: 10px;
}

.iconOverlay .fa-times {
  top: 6px;
  right: 10px;
}

.iconOverlay .fa-search-plus {
  bottom: 6px;
  left: 10px;
}

.iconOverlay .fa-download {
  bottom: 6px;
  right: 10px;
}

.iconOverlay:hover {
  background-color: rgba(48, 189, 255, 0.8);
  z-index: 1000;
}

.iconOverlay:hover .fa {
  display: inline;
}

#previewModal img {
  max-width: 100%;
  max-height: 100%;
}

#previewModal .modal-dialog {
  width: 70%;
  height: auto;
  margin: 0 auto;
  padding: 0;
}

#previewModal .modal-content {
  height: auto;
  min-height: 100%;
  border-radius: 0;
}

li.checkmark {
  list-style-type: none;
}

li.checkmark:before {
  content: '\2713';
  color:  #30bdff;
  font-size: 20px;
  margin-left: -18px;
  margin-right: 2px;
}

/** picture uploader end **/

/** decode start **/
.form-control-feedback {
    top: 40px !important;
}

.text-success {
  color:  #30bdff;
}

.vin-decoder {
  margin-bottom: 1px;
}
/** decode end **/

/** recalls start **/

#recallsModal iframe {
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
}

#recallsModal .modal-dialog {
  width: 98%;
  height: 98%;
  padding: 0;
  margin:  0 auto;
}

#recallsModal .modal-content {
  height: 99%;
}

#recallsModal .modal-body {
  height: 100%;
}

/** recalls end **/
